      <!-- PAGE FOOTER -->
		<div class="container">
			<div class="row">
				<div class="span12">
					
				<a href='http://www.jeffruss.com' class="footer-url" style='color:#FFFFEE'>
				<br><br><hr><small><p class="footer-text"></p></small><br><br><br>
				</a>
				</div>
			</div>
		</div>
	</body>
</html>
