<!DOCTYPE html>
<html>
   <head>
      <meta class'preview-img' property="og:image" content="" />
      <%= favicon_link_tag 'favicon.ico' %>
      <title class='title'></title>
      <%= stylesheet_link_tag    'application', media: 'all', 
                                 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 
                                 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
   </head>
