   <%= render partial: 'header' %>
   <%= 
   #yield(:head) 
   %>
</head>


<% javascript 'application' %>
<!-- BEGIN NAVBAR-->
<body class="jr-dark-body ">
	<div class="debug"></div>
   
   <nav id='topbar-9' class=''>
   </nav>	
   
   	<button class="topbtn-9-L1-mobl btn-greenwell"; >
   		<a href='' class="home-url">
   			<img style="max-width:50px;" class='logo-url'src=""/>
   		</a>
   	</button>
   	
   	 <!--modal 1 - select a page (group of pages - controller )-->
   	<button class="topbtn-9-L2-mobl btn-greenwell">
   	</button>
   	
   	 <!--modal 1 - select a page (group of pages - controller )-->
   	<button class="topbtn-9-C1-mobl btn-greenwell">
   	</button>
   		
   	 <!--< prevous section button-->
   	<button class="topbtn-9-C2-mobl btn-greenwell">
   	</button>
   
   
   	<button class="topbtn-9-C3-mobl btn-greenwell" >
   	</button>
   	
   	<button class="topbtn-9-R1-mobl btn-greenwell" >
   	</button>
   	
   	<button class="topbtn-9-R2-mobl btn-greenwell" >
   	</button>
   	
   	
   <!--END NAVBAR-->
   
   <!-- BEGIN MODALS -->
   
   <!-- MODAL 1 - select a page -->
   
   <!-- END MODALS -->


	<div class="container-small nav-spacer ">  <!--nav-space prevents obscuring under navbar-->
	
		<!-- BEGIN PAGE CONTENTS -->
		<div id='reader' style="">
			<div class="markdown" id='content' >
				<%= @livedocs[:content] %> 
			</div>
		</div>   
	 
	</div><!-- END nav-spacer -->
	
</body>

<%= render partial: 'footer' %>