//= require_tree .
//= require_self
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";



/////   GENERAL TARGETS   //////////////////////////////////////////////////////

// TARGETING NATIVE HTML TAGS for general use 

* { word-break: keep-all !important; } // global word-break setting
@media print {                         // format page for printing	
   @page { margin: 0; }
   body  { margin-left: 1.6cm;  margin-right: 1.6cm; margin-top: -0.5cm;
      a[href]:after { content: none!important; }
      #footer       { display: none;           }
   }
}

a:focus, a:active, a:link, // HTML anchors
a:visited { text-decoration: none;color:#b0cfaa!important; }
a:hover   { text-decoration: none;color:#e6ffd6!important; }

li>p     {  margin-right:auto;text-align: justify; text-justify: auto;}
li>pre   { margin-left: 5px;  background-color: grey; @extend.codeblock; @extend.greenbox2; }
pre>code {                     color-background:#fff; @extend.codeblock; } // COLOR-BACKGROUND???

[class*="span"] { float: left; margin-left: 20px;} // used in _footer and home_layout

// For markdown rendered to HTML 
p>code, li>code { @extend.in-p-code;  background-color:white; margin-right: auto;} 
pre {  @extend.codeblock; @extend.greenbox2; margin-left: 7%; max-width: 97%; margin-right: auto; }

// CUSTOM CLASSES for general use 

.jr-dark-body { color: #b0bfaa; background-color: #333232; } 
.jr-dark-bg   { background-color: #404040; } 
.black-text   { color: #444; } // used in boostrap howto md
.blacknav     { color: #ffffd0!important; background-color:#333333!important; 
                border:2px solid#999!important; border-radius: 10px!important; 
                border-color:#94ba65!important;}
.greenwell    { color: #94ba65!important; background-color:#3e423e!important; 
                border-color:#94ba65 }
.spacer       { margin-top: 40px; background-color: #404040; }
.hide         { visibility: hidden; width: 12%!important;} 
.github-only  { display: none; }
.center-text  { position:relative!important;  // both in modal 
                text-align:center!important;} // and directory page
.nav-spacer   { padding-top: 90px;  } // todo: replace
.nav-spacer-xl{ padding-top: 100px; } // todo: replace



//  BOOTSTRAP CLASS OVERRIDES for general use

.well { color: #ffffd0 !important; background-color: #444 !important; border-color:#94ba65; 
   margin-left: auto ; margin-right: auto ; max-width: 60em; }
.jumbotron        { color: #ffffd0 !important; background-color: #505F50 !important; }
.alert-notice     { color: #8a6d3b;	background-color: #fcf8e3; border-color: #faebcc; }
.form-control     { color: #ffe; background-color: #555; } // invert color for forms
.carousel-caption>h3 { color:#dee!important; } // now inline

// overwriting default behaviour of Modal Popup in Bootstrap:
.modal-dialog { 
   border:2px solid#999!important; border-radius: 10px!important; border-color:#94ba65!important;
   // recolor the horizontal lines inside the modal window and more of background:
   .modal-footer, .modal-body, .modal-header { background-color: #404040; border-color:#94ba65!important;}
   .close       { margin-left:95%; color: #8FBC8F;  opacity: 1; }
   .close:hover { margin-left:95%; color: #94fa55;  opacity: 1; }
}




////////////////////////////////////////////////////////////////////////////////
/////  SPECIFIC TARGETS  ///////////////////////////////////////////////////////


// TOPBAR
  
#topbar { position:fixed; z-index: 400;
   height: 68px; padding: 0.1%; margin-left: 0.5%; margin-right: 1%; width:67%;
   color: #ffffd0!important;       background-color:#333333!important; 
   border:1px solid#999!important; border-radius: 10px!important; 
   border-color:#670!important;
}

// BUTTONS 

.topbar-btn {position:fixed;  height: 50px; width: 8%; margin-top: 9px; 
   text-align:center!important; font-size: 1.2vmax; z-index: 600;
}
.btn:focus, .btn:active, .topbar-btn:focus, .topbar-btn:active {  
   outline:none!important; // get rid of the blue glow on previously clicked buttons
   color:#94ba65; }
.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}


.btn-greenwell       { color:#94ba65; background-color:#3e423e!important; border-color:#94ba65;
   border:1px solid#999!important; border-radius: 8px!important; 
   border-color:#94ba65!important;}
.btn-greenwell:hover { color:#94ca55; background-color:#444949!important; border-color:#94ca55; }

.markdown    {font-size: 2vmin; }
.markdown>h1 {font-size: 6vmin;font-weight: 900;color:#ffffd0;margin-left: 1%;}
.markdown>h2 {font-size: 6vmin;font-weight: 300;color:#cdb;   margin-left: 2%;}
.markdown>h3 {font-size: 5vmin;font-weight: 100;color:#cdb;   margin-left: 3%;}
.markdown>h4 {font-size: 4vmin;font-weight: 100;color:#cdb;   margin-left: 4%;}
.markdown>h5 {font-size: 3vmin;font-weight: 100;color:#cdb;   margin-left: 5%;}
.markdown>p  {              margin-right: auto;color:#b0bfaa;margin-left: 5%;}
.markdown>p>strong         {  font-weight: 900;color:#cdb;                   }
.markdown>ol, .markdown>ul {                                 margin-left: 2%;}

// usually markdown
#reader      { left: 2%; position:absolute;} // the left pane
xmp { @extend.codeblock; @extend.greenbox;
   text-align: left; border-radius:7px; max-width: 60em; margin-right: auto ;}



//  SIDEBAR (container for #toc

#sidebar { position: fixed; overflow: scroll;
   left: 69%; right: 4%; height: 98%; white-space: nowrap;
   border: 1px solid #999 !important; border-radius: 10px !important;
   border-color: #670 !important; background-color: #3a3c3a !important;
}


//  TOC (contents of #sidebar)

// note: why have both .toc and #toc?
div.toc { margin-top: 15%; }
.toc * { 
   padding-left: 0.5em; 
   counter-reset: item; 
   list-style-type: none; 
   font-weight: 400;
}
#toc {
   left: 3%; 
   height:600px; 
   position:relative; 
   display: inline-block; 
   font-size: 85% 
}
#toc-buffer {
   left: 3%; 
   // min-height:100px; 
   position:relative; 
   display: inline-block; 
   font-size: 85% 
}
// each content of sidebar:
#toc>u * { // u ... IS THIS A TYPO???
   padding-left: 0.5em;  
   counter-reset: item; 
   list-style-type: none; 
   font-weight: 400; 
   max-height:600px; 
}

// sidebar toc achors: TODO CHANGE TOGGLE CLASS .toc-on 
a#toc-active { border:1px solid#999; border-color:#670;border-radius: 10px!important;
   font-style: italic; font-size: 1.6vmin; font-weight: 900; 
   color:#7bb !important;
   
}
a#toc-inactive:hover {
   color:#fff !important; }

// the following is to deal with nasty nestin of auto generated toc
// A better solution might be to assign classes via js and apply style that way.
#toc>ul { margin-left: 0.1%;}                  // everything below is in this ul
#toc>ul>li>a#toc-inactive {                        // h1
   color:#dfdfb0 !important; font-size: 1.9vmin; font-weight: 200; line-height: 190%;
}
#toc>li>a#toc-inactive {                      // h1
   color:#dfdfb0 !important; font-size: 1.8vmin; font-weight: 190; line-height: 180%;
}
ul>li>ul>li>a#toc-inactive {                  // h2 
   color:#a0ac8a !important; font-size: 1.7vmin; font-weight: 160; line-height: 170%;
}
ul>li>ul>li>ul>li>a#toc-inactive {            // h3
   color:#909c8a !important; font-size: 1.6vmin; font-weight: 145; line-height: 160%;
}
ul>li>ul>li>ul>li>ul>li>a#toc-inactive {       // h4 MMMAAAAJOR TYPO
   color:#909c8a !important; font-size: 1.55vmin; font-weight: 130;line-height: 150%;
}
ul>li>ul>li>ul>li>ul>>li>ul>li>a#toc-inactive { // h5 MMMAAAAJOR TYPO
   color:#909c8a !important; font-size: 1.5vmin; font-weight: 115; line-height: 140%;
}




/////  PARENT CLASSES  /////////////////////////////////////////////////////////

.codeblock { @extend.mono; color:#7bb; background-color: #393b3a; white-space: pre; overflow: scroll; 
        font-size: 1.6vmin; tab-size: 3; display: inline-block; // for code boxes 
}
.in-p-code { @extend.mono; color: #7bb; background-color: #333333;  // for in-text code
        tab-size: 3;  
}
.mono { font-family: Monaco, Courier New, monospace; }

.greenbox  { border:1px solid#999; border-color:#94ba65;white-space: pre-wrap; overflow: scroll; }
.greenbox2 { border:1px solid#999; border-color:#670;white-space: pre-wrap; overflow: scroll; }




// OF LITTLE CONCERN ///////////////////////////////////////////////////////////

//  UNUSED CUSTOM CLASSES W/ POTENTIAL

.jr-green-bg   { background-color: #606F60;  }
.dark-bg-g     { background-color: #404347;  }

hr.topic       { border-top: 20em; } 
div.jump       { padding-top: 40px; z-index: 99 !important; }

.thin-text     { font-weight: 200!important; }
.border-orange { outline: 1px solid orange;  }
.border-red    { outline: 1px solid red;     }
.border-green  { outline: 1px solid #20f030; }



//  SLATED FOR DELETION

// BOOTSTRAP ADD-ON CLASSES
.btn-large { @extend.trans-250ms; padding: 18px 28px; margin-bottom: 30px;
             font-size: 12px; line-height: normal; 
}
.btn-xlarge { @extend.trans-250ms; padding: 18px 28px; margin-bottom: 30px;
             font-size: 14px; line-height: normal; 
}
.btn-ghost { @extend.trans-250ms; 
             background: transparent!important; color: #ffffd0 !important; 
   &:hover { background-color: #444949 !important; } 
}
.btn-ghosty{ @extend.trans-250ms; 
             background-color: #444 !important; color: #ffffd0!important; 
   &:hover { background-color: #444949!important; } 
   
}
.trans-250ms { // CSS Transition (only used as parent class. see above)
   -webkit-transition: background .25 ease-in-out, border .25 ease-in-out;
      -moz-transition: background .25 ease-in-out, border .25 ease-in-out;
      -ms-transition: background .25 ease-in-out, border .25 ease-in-out;
       -o-transition: background .25 ease-in-out, border .25 ease-in-out;
         transition: background .25 ease-in-out, border .25 ease-in-out;
}



/////  THE GRAVEYARD  //////////////////////////////////////////////////////////
/*

//for syntax highlighter:
require syntax-highlighter-rails/shCore
require syntax-highlighter-rails/shThemeDefault

#banner {  // for titles (alternative to bootstrap well and jumbotron)
   position: relative; border-style: outset;  border-radius: 10px; border-width: 2px; 
   margin-bottom: 50px; height: 104px; 
   border-color: #44c19b #45b0a1; color: #ffffd0; background-color: #444!important;
   &:hover { background-color: #444949!important; }
   
   img{margin-left: -30px;border-top-left-radius: 10px;border-bottom-left-radius:10px;} 
   p  {margin-left: 25%; &:hover { color:#e6ffd6; }
      font-size: 150%; font-weight: 900; text-align: center; line-height: 90%;
   }
}

// BOOTSTRAP CLASS OVERRIDES
.list-group-item       { margin-left: 0%!important; }
.navbar-brand { padding-top: 0px; margin-top:-3px;padding-right: 0px;border-right: 0px;margin-right: 0px;}
.navbar-left  { margin-left: 2%!important;} // jr.com has  margin-top: 0px;        
.navbar-center {  
   position:fixed; display: inline-block; margin-left:auto;margin-right:auto;text-align: center;
}
.navbar-right { float: right!important; height: 100%;margin-right: 1%!important;} // jr.com has  margin-top: 0px;        
// disable navbar collapse 
.navbar-collapse.collapse           { display: block!important;      }
.navbar-nav>li, .navbar-nav         { float: left!important;         }

modal toc
.modal.bottom-right { right:-90%; top:30%; } 

.nonwell       { color: #94ba65 !important; background: transparent !important;   } 
.jr-green      { color: #94ba65; }
.bluish        { color: #bbddee; }

.centered-div  { margin-left:auto!important; margin-right:auto!important; }

.cling-left {
  padding-left: 0 !important;
  margin-left: 0 !important;
  border-left: 0 !important;
}

*/