
/* By Jeff Russ https://github.com/Jeff-Russ
~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._*/

//= require_tree .
//= require_self
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

//~._.~   GENERAL TARGETS   ~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~

// TARGETING NATIVE HTML TAGS for general use 

* { word-break: keep-all !important; } // global word-break setting
@media print {                         // format page for printing
   .printhide { display: none!important;}
   .printfmt  { border:  none!important; }
   .printfmt2 { border:  none!important; }
   a { color:black!important;  }
   a[href]:after { 
      content: none!important;
  }
   @page { margin: 0; }
   
   body > .printfmt { 
      margin-left: 1cm;  margin-right: 1cm; margin-top: -2cm;
      a[href]:after { content: none!important; }
      #footer       { display: none;           }
   }
   body > .printfmt2 { 
      margin-left: 1cm!important;  margin-right: 1cm!important; margin-top: 1cm;
      a[href]:after { content: none!important; }
      #footer       { display: none;           }
   }
}

#banner { 
    position: relative; border-style: outset;  border-radius: 10px; border-width: 2px; 
    margin-bottom: 50px; height: 104px; 
    border-color: #44c19b #45b0a1; color: #8FBC8F; background-color: #444!important;
    &:hover { background-color: #444949!important; }
    
    img{margin-left: -30px;border-top-left-radius: 10px;border-bottom-left-radius:10px;} 
    p  {margin-left: 25%; &:hover { color:#e6ffd6; }
        font-size: 150%; font-weight: 900; text-align: center; line-height: 90%;
    }
}

a:focus, a:active, a:link, // HTML anchors
a:visited { text-decoration: none;color:#b0cfaa!important; }
a:hover   { text-decoration: none;color:#e6ffd6!important; }

li>p     {  margin-right:auto;text-align: justify; text-justify: auto;}
li>pre   { margin-left: 5px;  background-color: grey; @extend.codeblock; @extend.greenbox2; }
pre>code {                     background-color:#fff; @extend.codeblock; } // COLOR-BACKGROUND???

[class*="span"] { float: left; margin-left: 20px;} // used in _footer and home_layout

// For markdown rendered to HTML 
p>code, li>code { @extend.in-p-code;  background-color:white; margin-right: auto;} 
pre {  @extend.codeblock; @extend.greenbox2; margin-left: 7%; max-width: 97%; margin-right: auto; }

// CUSTOM CLASSES for general use 

.jr-dark-body   { color: #b0bfaa; background-color: #333232; } 
.jr-darker-body { color: #b0bfaa; background-color: #2a2a2a; } 
.jr-dark-bg   { background-color: #404040; } 
.black-text   { color: #444; } // used in boostrap howto md
.blacknav     { color: #ffffd0!important; background-color:#333333!important; 
                border:2px solid#999!important; border-radius: 10px!important; 
                border-color:#94ba65!important;}
.greenwell    { color: #94ba65!important; background-color:#3e423e!important; 
                border-color:#94ba65 }
.spacer       { margin-top: 4%;  }
.hidden       { visibility: hidden; width: 12%!important;} 
.fixed        { position: fixed;    }
.absolute     { position: absolute; }

// added for geturl.md:
.danger-border { border-color:#CF4135!important; }
.warning-border{ border-color:#BD8B2D!important; }
.success-border{ border-color:#57AE3A!important; }
.info-border   { border-color:#61BBDD!important; }
.modal-bg-grey { background-color: #333232;      }
.abso          { position: absolute!important;   }
.pad-none      { padding: 0!important;         }
.txt-L         { text-align: left!important;   }
.txt-C         { text-align: center!important;   }

.github-only  { display: none; }
.center-text  { position:relative!important;  // both in modal 
                text-align:center!important;} // and directory page
.nav-spacer   { padding-top: 90px;  } // todo: replace
.nav-spacer-xl{ padding-top: 100px; } // todo: replace



//  BOOTSTRAP CLASS OVERRIDES for general use

.btn { display: table; }
.well { color: #ffffd0 !important; background-color: #444 !important; border-color:#94ba65; 
   max-width: 60em; }
.jumbotron        { color: #ffffd0 !important; background-color: #505F50 !important; }
.alert-notice     { color: #8a6d3b;	background-color: #fcf8e3; border-color: #faebcc; }
.form-control     { color: #ffe; background-color: #555; } // invert color for forms
.carousel-caption>h3 { color:#dee!important; } // now inline



// BOOSTRAP MODALS 

// overwriting default behaviour of Modal Popup in Bootstrap:
.modal-dialog { overflow:hidden; // because inner div had overflowing square corners
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
   border:2px solid#999!important;  border-color:#94ba65!important;

   // recolor the horizontal lines inside the modal window and more of background:
   .modal-header { background-color: #404040; border-color:#94ba65!important;}
   .modal-footer, .modal-body, .modal-open { background-color:#333232!important; }
   .close       { margin-left:95%; color: #8FBC8F;  opacity: 1; }
   .close:hover { margin-left:95%; color: #94fa55;  opacity: 1; }
}

// monkey patches for js generated modal menus:
#section-menu, #page-menu {  padding-left: 4%;  }
.modal-link { width: 125px!important; }//font-size:16px; }

// duplication for non-modal use (menu pages rather than menu modals)
.subwindow { overflow:hidden; // because inner div had overflowing square corners
   border:2px solid#999; border-color:#94ba65;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; 
   background-color: #333232; padding-left:5%;padding-right:5%;padding-bottom:1%; margin:3%;
   .subwindow-footer, .subwindow-body, .subwindow-header { 
       -moz-border-radius: 10px 10px 0 0;
       background-color: #404040!important;; border-color:#94ba65!important;
       margin:0; padding:0;
   }
}



/*~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._
~._.~  SPECIFIC TARGETS  ~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._*/

// DEBUG ._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~.
.debug { position: fixed; top: 0%; right: 0%; z-index: 9999;
         color: Chartreuse; background-color: #444;  }


// TOPBAR._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~.
// base class only:
%topbar { top: 0%; z-index: 400; 
   color: #ffffd0!important;        background-color:#333333!important; 
   border: 1px solid#999!important; border-radius: 10px!important; 
   border-color:#670!important; 
}
// use this as default in html but js will quickly override parts of them:
.topbar    { @extend%topbar; height: 6.4vmax!important; min-height: 31px; width: 99%;  left: 0.5%; right: 0.5%; }
.topbar-toc{ @extend%topbar; height: 6.4vmax!important; min-height: 31px; width: 67.5%;left: 1.5%; right: 0.5%; }


// BUTTONS ._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~.
// base class only:
%topbtn {height: 3.8vmax!important; text-align:center!important; padding-left:0; padding-right:0.2%; 
      font-size: 1.3vmax;  z-index: 600; line-height: 1.6em;}
%topbtn:hover { font-size: 1.3vmax!important;  line-height: 1.6em;
   text-align:center!important; padding-left:0!important; padding-right:0.2%!important;
color:#94ca55!important;}

// use this two as defaults in html but js will quickly override parts of them:
.topbtn           { @extend.btn; @extend%topbtn;  height: 2.3vmax!important;  margin-top: 9px;}
.topbtn-greenwell { @extend.btn-greenwell; @extend%topbtn; top: 1.4vh; } //height: 4vh; }
                    
                    
.topbar-btn {  @extend.topbtn-greenwell; position:fixed; 
                display:table!important; padding:0;}
.topbar-btn-w-text { @extend.topbtn-greenwell; position:fixed;
         padding-bottom: 0.8vh!important; padding-top: 1.5vh!important; }

// topbtn's
.LL-7-toc { width: 8%; left:  4%; }
.LR-7-toc { width: 8%; left: 13%; }
.CL-7-toc { width: 8%; left: 22%; }
.CC-7-toc { width: 8%; left: 31%; }
.CR-7-toc { width: 8%; left: 40%; }
.RL-7-toc { width: 8%; left: 49%; }
.RR-7-toc { width: 8%; left: 58%; }

.LL-7 { width: 13%; left: 1.5%;  }
.LR-7 { width: 13%; left: 15.5%; }
.CL-7 { width: 13%; left: 29.5%; }
.CC-7 { width: 13%; left: 43.5%; }
.CR-7 { width: 13%; left: 57.5%; }
.RL-7 { width: 13%; left: 71.5%; } 
.RR-7 { width: 13%; left: 85.5%; }

.LL-9 { width: 8%;  left: 5%;  }
.LC-9 { width: 8%;  left: 15%; }
.LR-9 { width: 8%;  left: 25%; }
.CL-9 { width: 8%;  left: 35%; }
.CC-9 { width: 8%;  left: 45%; }
.CR-9 { width: 8%;  left: 55%; }
.RL-9 { width: 8%;  left: 65%; }
.RC-9 { width: 8%;  left: 75%; } 
.RR-9 { width: 8%;  left: 85%; }


// SPECIAL CASE BUTTONS FOR HOME PAGE:
%abso-w25 { position:absolute; float:left; width: 28%!important; height: 10%!important; }
%tile9x9-btn { @extend.tile-btn; margin:auto!important; @extend%abso-w25; }

.tile9x9-row1 { @extend%tile9x9-btn; top: 38%; }
.tile9x9-row2 { @extend%tile9x9-btn; top: 58%; }
.tile9x9-row3 { @extend%tile9x9-btn; top: 78%; }

.tile9x9-col1 { @extend%tile9x9-btn; left: 5%;  }
.tile9x9-col2 { @extend%tile9x9-btn; left: 37%; }
.tile9x9-col3 { @extend%tile9x9-btn; left: 68%; }


.tile-btn { 
   @extend.btn; 
   @extend.btn-xlarge; 
   @extend.btn-block; 
   @extend.btn-ghosty;
}

.tile { @extend.btn-ghosty; border: 1px solid; border-radius: 10px;
   padding:0; padding-left:5%; margin-bottom: 5%;
   font-weight:200!important; color:#94ba65!important; 
   display: flex; flex-direction: column; justify-content: center;
   overflow:scroll;
}
.tile:hover {font-weight:100!important; color:#B2CFA6!important;}
   //  padding-left:0!important; padding-right:0!important; 
   //  padding-bottom:0!important;
   
// .tile > input { font-size: 2vmin; }
   
.radio > label { font-weight:100; // font-size: 2vmin; 
   color:#B2CF9E!important; height:1%!important; }
   
.radio > label > input { background-color:green; height:1%!important;}

%btn-text { overflow: hidden; width: auto; font-size:1.4vmax!important; }

.tile9x9-btn_txt1 {
   @extend%btn-text;
   line-height: 150%!important; 
   margin: 4.5%!important;
}
.tile9x9-btn_txt2 { 
   @extend%btn-text;
   line-height: 150%!important; 
   margin: -2%!important; 
}
.tile9x9-btn_txt3 { 
   @extend%btn-text;
   line-height: 105%!important;
   margin: -6%!important; padding-top:3%!important; padding-bottom:3.4%;
}


.scroll-btn-img-css, .toc-btn-img-css { 
   height: 1.6vmax!important; margin-bottom: 0.8vh; margin-top: 0.6vh; 
   
}
.menubar-img-css { 
   width:3.4em; margin:-3px; }
.prev-img-css, .next-img-css, .jr-img-css, .logo-url, .md-img-css { line-height: 200%; padding:0px!important;
   height: 2.3vmax!important; margin-bottom: 0.8vh; margin-top: 1.0vh!important; font-size: 2.2vh!important; 
 }
 
.btn:focus, .btn:active, .topbtn:focus, .topbtn:active { 
   outline:none!important; // get rid of the blue glow on previously clicked buttons
   color:#94ba65; }
.text-overflow-center {
    margin-left: -100%;
    margin-right: -100%;
    text-align: center;
}

.round-img{
    border:1px solid#888;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;  
}


.btn-greenwell       { @extend.btn; color:#94ba65; background-color:#3e423e!important; border-color:#94ba65;
   border:1px solid#999!important; border-radius: 8px!important; padding:0; margin:0;
   border-color:#94ba65!important;}
.btn-greenwell:hover { @extend.btn; font-size:inherit; color:#94ca55;
   padding:0; margin:0;
   background-color:#444949!important; border-color:#94ca55; }

.markdown    {font-size: 16px; }
.markdown>h1 {font-size: 6vmin;font-weight: 900;color:#ffffd0;margin-left: 1%;}
.markdown>h2 {font-size: 6vmin;font-weight: 300;color:#cdb;   margin-left: 2%;}
.markdown>h3 {font-size: 5vmin;font-weight: 200;color:#cdb;   margin-left: 3%;}
.markdown>h4 {font-size: 4vmin;font-weight: 200;color:#cdb;   margin-left: 4%;}
.markdown>h5 {font-size: 3vmin;font-weight: 200;color:#cdb;   margin-left: 5%;}
.markdown>p  {               margin-right: auto;color:#b0bfaa;margin-left: 5%;}
.markdown>p>strong          {  font-weight: 900;color:#cdb;                   }
.markdown>ol, .markdown>ul  {                                 margin-left: 2%;}

// usually markdown
#reader      { left: 2%; position:absolute; width: 64%; } // the left pane
.code-block { @extend.codeblock; @extend.greenbox;
   text-align: left; border-radius:7px; max-width: 60em; margin-right: auto ;}
xmp { @extend.code-block; }

//  SIDEBAR (container for #toc

#sidebar { position: fixed; overflow: scroll;  top: 0%;
    left: 69%; right: 4%; height: 98%; white-space: nowrap;
   border: 1px solid #999 !important; border-radius: 10px !important;
   border-color: #670 !important; background-color: #3a3c3a !important;
}


//  TOC (contents of #sidebar)

// note: why have both .toc and #toc?
div.toc { margin-top: 15%; }
.toc * { 
   padding-left: 0.5em; 
   counter-reset: item; 
   list-style-type: none; 
   font-weight: 400;
}
#toc {
   left: 3%; 
   height:600px; 
   position:relative; 
   display: inline-block; 
   font-size: 85% 
}
#toc-buffer {
   left: 3%; 
   // min-height:100px; 
   position:relative; 
   display: inline-block; 
   font-size: 85% 
}
// each content of sidebar:
#toc>u * { // u ... IS THIS A TYPO???
   padding-left: 0.5em;  
   counter-reset: item; 
   list-style-type: none; 
   font-weight: 400; 
   max-height:600px; 
}

// sidebar toc achors: TODO CHANGE TOGGLE CLASS .toc-on 
a#toc-active { border:1px solid#999; border-color:#670;border-radius: 10px!important;
   font-style: italic; font-size: 1.6vmin; font-weight: 900; 
   color:#7bb !important;
   
}
a#toc-inactive:hover {
   color:#fff !important; }

// the following is to deal with nasty nestin of auto generated toc
// A better solution might be to assign classes via js and apply style that way.
#toc>ul { margin-left: 0.1%;}                  // everything below is in this ul
#toc>ul>li>a#toc-inactive {                        // h1
   color:#dfdfb0 !important; font-size: 2.2vmin; font-weight: 600; line-height: 190%;
}
#toc>li>a#toc-inactive {                      // h1
   color:#dfdfb0 !important; font-size: 2.15vmin; font-weight: 500; line-height: 180%;
}
ul>li>ul>li>a#toc-inactive {                  // h2 
   color:#a0ac8a !important; font-size: 2.1vmin; font-weight: 400; line-height: 170%;
}
ul>li>ul>li>ul>li>a#toc-inactive {            // h3
   color:#909c8a !important; font-size: 2.05vmin; font-weight: 300; line-height: 160%;
}
ul>li>ul>li>ul>li>ul>li>a#toc-inactive {       // h4 MMMAAAAJOR TYPO
   color:#909c8a !important; font-size: 2.0vmin; font-weight: 200;line-height: 150%;
}
ul>li>ul>li>ul>li>ul>li>ul>li>a#toc-inactive { // h5 MMMAAAAJOR TYPO
   color:#909c8a !important; font-size: 1.95vmin; font-weight: 200; line-height: 140%;
}


//~._.~  PARENT CLASSES  ~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~

.codeblock { @extend.mono; color:#7bb; background-color: #393b3a; white-space: pre; overflow: scroll; 
        font-size: 1.6vmin; tab-size: 3; display: inline-block; // for code boxes 
}
.in-p-code { @extend.mono; color: #7bb; background-color: #333333;  // for in-text code
        tab-size: 3;  
}
.mono { font-family: Monaco, Courier New, monospace; }

.greenbox  { border:1px solid#999; border-color:#94ba65;white-space: pre-wrap; overflow: scroll; }
.greenbox2 { border:1px solid#999; border-color:#670;white-space: pre-wrap; overflow: scroll; }




// OF LITTLE CONCERN ~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.~~._.

//  UNUSED CUSTOM CLASSES W/ POTENTIAL

.jr-green-bg   { background-color: #606F60;  }
.dark-bg-g     { background-color: #404347;  }

hr.topic       { border-top: 20em; } 
// .section          { padding-top: 50px; z-index: 99 !important; }

.thin-text     { font-weight: 200!important; }
.border-orange { outline: 1px solid orange;  }
.border-red    { outline: 1px solid red;     }
.border-green  { outline: 1px solid #20f030; }



//  SLATED FOR DELETION

// BOOTSTRAP ADD-ON CLASSES
.btn-large { @extend%trans-250ms; padding: 18px 28px; margin-bottom: 30px;
             font-size: 12px; line-height: normal; 
}
.btn-xlarge { @extend%trans-250ms; padding-top: 13px; padding-bottom:10px; 
            margin-bottom: 30px; font-size: 15px; 
             //line-height: 1.8em; //height: 4.3em;
             border-radius: 10px; font-weight: 200!important ;
}
.btn-ghost { @extend%trans-250ms; 
             background: transparent!important; color: #ffffd0 !important; 
   &:hover { background-color: #444949 !important; } 
}
.btn-ghosty{ @extend%trans-250ms; 
             color:#94ba65; background-color:#3e423e!important;
   &:hover { background-color: #404040!important; } 
   
}
%trans-250ms { // CSS Transition (only used as parent class. see above)
   -webkit-transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
      -moz-transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
       -ms-transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
        -o-transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
           transition: background 0.25s ease-in-out, border 0.25s ease-in-out;
}
