// from boostrap:
$danger-red: #CF4135;
$warning-orange: #BD8B2D;
$success-green: #57AE3A;
$info-blue: #61BBDD;

$dark-2a: #2a2a2a;
$dark-32: #333232;
$dark-33: #333333;
$dark-40: #404040;

$greenline: #94ba65

// // almost black. dark to less dark:
// $dark-mine:   #333333;
// $dark-lunar:  #3e423e;
// $dark-tundora:#404040;
// $dark-mako:   #404347;
// $dark-emperor:#444;
// $dark:        #444949;

// // low color, close to white/light grey
// // listed from dark to light:
// $dusty-grey:#999;
// ivory: #ffe;
// $cream: #ffffd0;

// $gray-asparagus: #505F50;
// $dark-finlandia: #606F60;

// $spring-green: #b0bfaa;
// $minty-white:  #e6ffd6;
// $green-mist:   #cdb;

// $malachite-green:#20f030;
// $olive:          #670;
// $norway-green:   #8FBC8F;
// $olivine:        #94ba65;
// $celery-green:   #94ca55;
// $neon-green:     #94fa55;

// $turquise:       #44c19b;
// $ocean-green:    #45b0a1;

// $baby-blue: #cff;
// $spindle-blue: #bbddee;
// $white-sky: #dee;
// $potters-clay: #8a6d3b;
// $ivory: #fcf8e3;
// $navajo-white: #faebcc;
// $eggshell: #ffe;





