<!-- PAGE FOOTER -->
<div class="row">
	<div class="span12">
		<a href='http://www.jeffruss.com' style='color:#FFFFEE'>
		<br><br><hr><small>    © Copyright 2016 Jeffrey Russ.</small><br><br><br>
		</a>
	</div>
</div>
