
	<!-- modal 1 - select a page -->
	<div class="modal" id="modal-page-menu" tabindex='-1' role='dialog'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header jr-dark-bg">
					<button type="button" class="close" data-dismiss='modal'>
						&times;
					</button><br>
				</div>
				<div class="modal-body">
					
					<div class="jr-dark-bg">
						<div class="row center-text">
							<h3>Pick a Page</h3>
						</div>
						<div class="row spacer center-text">
							<div id="page-menu">
								<!--inserted by js-->
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- modal 2 - select a section -->
	<div class="modal" id="modal-section-menu" tabindex='-1' role='dialog'>
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header jr-dark-bg">
					<button type="button" class="close" data-dismiss='modal'>
						&times;
					</button><br>
				</div>
				<div class="modal-body">
					
					<div class="jr-dark-bg">
						<div class="row center-text">
							<h3>Pick a Section</h3>
						</div>
						<div class="row spacer center-text">
							<%= #render :file => 'layouts/home_menu' 
							%>
							<div id="section-menu"> 
								<!--populated by javscript-->
							</div>
						</div>
						<div class="modal-footer"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
	
</div>