<body class="jr-dark-body">
<!-- BEGIN NAVBAR (non-collapsing)-->
	<nav id='topbar' class="navbar navbar-inverse navbar-static-top blacknav" role="navigation" id='topbar'>
		
		<button class="btn navbar-btn btn-greenwell" style="margin-left:4%;">
			<a href='' class="home-url">
				<img style="max-width:50px;" class='logo-url'src=""/>
			</a>
		</button>
		
		<!-- left button -->
		<button class="btn navbar-btn btn-greenwell" style="margin-left:2%;">
			<a href='' id="left-btn"></a>
		</button>
			
		<div class="navbar-right">
			
		<!-- left button -->
		<button class="btn navbar-btn btn-greenwell" style="margin-right:4%;">
			<a href='' id="right-btn"></a>
		</button>
			
		</div>
	</div>
</nav>

