<!-- BEGIN NAVBAR (non-collapsing)-->
	<nav id='topbar' class="navbar navbar-inverse navbar-static-top blacknav" role="navigation" id='topbar'>
		
		<button class="btn navbar-btn btn-greenwell" style="margin-left:4%;">
			<a href='' class="home-url">
				<img style="max-width:50px;" class='logo-url'src=""/>
			</a>
		</button>
		
		<!-- modal 1 - select a page (group of pages - controller )-->
		<button type='button' data-toggle='modal'  
				class='btn navbar-btn btn-greenwell ' data-target='#modal-page-menu'>
			<p style="margin:1px"id='page-btn' >page</p>
		</button>
			
		<!-- < prevous section button-->
		<button type='button' class="btn navbar-btn btn-greenwell hide">
			<img style="margin: 0px" src="https://shared-img-res.s3.amazonaws.com/icons/left_icon_grn.png"/>
		</button>
		
		<!--modal 2 - select a topic (jump to id on page)-->
		<button type='button' data-toggle='modal'  
				class="btn navbar-btn btn-greenwell " data-target='#modal-section-menu'>
			<p style="margin:1px"id='section-btn' > section</p>
		</button>
		
		<!-- > next section button-->
		<button type='button' class="btn navbar-btn btn-greenwell hide" >
			<img style="margin:0px" src="https://shared-img-res.s3.amazonaws.com/icons/right_icon_grn.png"/>
		</button>
		
		<button type='button' id='toc-btn' 
				class='btn navbar-btn btn-greenwell '>
			<img style="margin:1px" src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/toc_icon_h20.png">
			</img>
		</button>
		
		<button type='button' class="btn navbar-btn btn-greenwell" id='toc-follow-btn'>
			<img id='toc-follow-img' style="height:25px; margin:-3px;"
				src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/auto-y_icon_33_grn.png">
			</img>
		</button>
	
	</nav> <!--END NAVBAR-->
	
<% if @livedocs[:toc] != nil %>
<div id="sidebar">
	<div class="toc" id="toc">	
		<%= @livedocs[:toc] %>
	</div>
</div> 
<% else %>
<div id="hide-toc"style="display: none;"><!-- true --></div>
<% end %>


<!-- CONTENTS OF THREE MODAL WINDOWS -->
<%= render partial: 'layouts/modals' 
%>