<!--<div id='topbar-container'>-->
<div id='topbar-left'>
	<button class="btn-greenwell topbar-item" style="margin-right:3px">
		<a href='' class="home-url"> <!--navbar-brand">-->
		<img style="max-width:50px;" class='logo-url'src="">
		</a>
	</button>
	
	<!-- modal 1 - select a page (group of pages - controller )-->
	<button type='button' data-toggle='modal' id='page-btn' 
			class='btn-greenwell topbar-item ' data-target='#modal-page-menu'>page
	</button>
	
</div>
<div id='topbar-center'>
	
		<!-- < prevous section button-->
	<button type='button' class="btn-greenwell topbar-item ">
		<img style="margin: 0px" src="https://shared-img-res.s3.amazonaws.com/icons/left_icon_grn.png"/>
	</button>
	
	<!-- modal 2 - select a topic (jump to id on page)-->
	<button type='button' data-toggle='modal' 
		class="btn-greenwell topbar-item  " data-target='#modal-section-menu'>section
	</button>
	
	<!-- > next section button-->
	<button type='button' class="btn-greenwell topbar-item " >
		<img style="margin:0px" src="https://shared-img-res.s3.amazonaws.com/icons/right_icon_grn.png"/>
	</button>
	
</div>
<div id='topbar-right'>
	
	<!-- toggle toc collapse -->
	<button type='button' id='toc-btn' 
			class='btn-greenwell topbar-item  '>
		<img src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/toc_icon_h20.png"></img>
	</button>
	
	<button type='button' class="btn btn-greenwell topbar-item" id='toc-follow-btn'>
		<img id='toc-follow-img' style="height:40px; margin-top:-2px;"
			src="https://shared-img-res.s3.amazonaws.com/icons/auto-y_icon_grn.png">
		</img>
	</button>
		
	<span class="stretch"></span>
</div>
	

<!-- CONTENTS OF THREE MODAL WINDOWS -->
<%= render partial: 'layouts/modals' 
%>