<div class="row" style="position: fixed">
	<div class="col-xs-1">
		<button class="btn btn-greenwell btn-block topbtn"type='button' style="margin-right:3px">
			<a href='' class="home-url"> <!--navbar-brand">-->
			<img class='logo-url'src="https://shared-img-res.s3.amazonaws.com/JR%20logo/JR_20px_wide.png">
			</a>
		</button>
	</div><div class="col-xs-1">
		<!-- modal 1 - select a page (group of pages - controller )-->
		<button type='button' data-toggle='modal' id='page-btn' 
				class='btn btn-greenwell btn-block topbtn' data-target='#modal-page-menu'>page
		</button>
	</div><div class="col-xs-1">
		<!-- < prevous section button-->
		<button type='button' class="btn btn-greenwell btn-block topbtn">
			<img style="margin: 0px" src="https://shared-img-res.s3.amazonaws.com/icons/left_icon_grn.png"/>
		</button>
	</div><div class="col-xs-1">
		<!-- modal 2 - select a topic (jump to id on page)-->
		<button type='button' data-toggle='modal' 
			class="btn btn-greenwell btn-block topbtn" data-target='#modal-section-menu'>section
		</button>
	</div><div class="col-xs-1">
		<!-- > next section button-->
		<button type='button' class="btn btn-greenwell btn-block topbtn" >
			<img style="margin:0px" src="https://shared-img-res.s3.amazonaws.com/icons/right_icon_grn.png"/>
		</button>
	</div><div class="col-xs-1">
		<!-- toggle toc collapse -->
		<button type='button' id='toc-btn' 
				class='btn btn-greenwell btn-block topbtn'>
			<img src="https://shared-img-res.s3.amazonaws.com/livepage_heroku/toc_icon_h20.png"></img>
		</button>
	</div><div class="col-xs-1">
		<button type='button' class="btn btn-greenwell btn-block topbtn" id='toc-follow-btn'>
			<img id='toc-follow-img' style="max-height:10px; margin-top:-2px;"
				src="https://shared-img-res.s3.amazonaws.com/icons/auto-y_icon_grn.png">
			</img>
		</button>
	</div>
</div>
	
	<!--<div id="sidebar">-->
	<!--	<div class="toc" id="toc">	-->
	<!--		<%= @toc %>-->
	<!--	</div>-->
	<!--</div> -->


<!-- CONTENTS OF THREE MODAL WINDOWS -->
<%= render partial: 'layouts/modals' 
%>
